[Unit]
Description=web app for storing Reddit items
Documentation=https://github.com/sugoidogo/expanse
Wants=network-online.target
After=network-online.target

[Service]
Type=exec
WorkingDirectory=/opt/expanse/backend
ExecStart=npm run prod

[Install]
WantedBy=default.target
